*{
    margin: 0;
    padding: 0;
}




.container-events{
    padding: 4rem;
}
.container-events h1{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 5rem;
    font-weight: bolder;
    background-image: url(../assets/event_text.jpg);
    background-size: cover;
    background-position:0px 30rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.events{
        display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;

}
.card{
width: 33rem;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 22rem;
/* background-image: url(../assets/comming_event_1.jpg); */
background-size: cover;
background-repeat: no-repeat;
color: white;
padding-top: 1rem;
border-radius: 15px;
box-shadow: 1px 1px 11px gray;
overflow: hidden;
}
.details{
    font-size: 17px;
    background: #827e7e63;
    width: 100%;
    padding: 1rem;
}
.venue{
    font-size: 1.5rem;
    font-weight: bolder;   
    margin-bottom: 12px;
}

.date{
    padding-left: 12px;
}


@media screen and (max-width: 425px){
    
    .container-events{
        padding: 1rem;

    }
    .container-events h1{
        font-size: 2rem;

    }
    .card{
        width: 100%;
    }
    .details{
        font-size: 13px;
    }
    .venue{
        font-size: 1rem;
    }

}
